@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  min-height: 2000px;
  padding-top: 70px;
}

.unsuccessful-hit {
  background-color: red;
  button {
    display: none;
  }
}

.final-hit {
  background-color: greenyellow;
  button {
    display: none;
  }
}